.advantages__container {
  padding-top: 120px;
  margin-bottom: 120px;

  @media (max-width: $vp-1023) {
    padding-top: 80px;
    margin-bottom: 76px;
  }

  @media (max-width: $vp-767) {
    padding-top: 50px;
    margin-bottom: 20px;
  }
}

.advantages__container ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 48.5%);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 31px;
  row-gap: 29px;

  @media (max-width: $vp-1023) {
    grid-template-columns: repeat(2, 48%);
    column-gap: 28px;
    row-gap: 28px;
  }

  @media (max-width: $vp-767) {
    display: flex;
    flex-direction: column;
    column-gap: 0;
    row-gap: 0;
  }
}

.advantages__container li {
  align-items: center;
  border: 1px solid $color-light-grey;
  border-left: 5px solid $color-light-blue;
  box-sizing: border-box;
  padding: 95px 45px 55px 45px;

  &:hover {
    background-color: $color-light-blue;
  }

  &:hover h3,
  &:hover p {
    color: $color-font-light;
  }

  @media (max-width: $vp-1023) {
    padding: 90px 45px 30px 40px;
  }

  @media (max-width: $vp-767) {
    padding: 75px 30px 75px 24px;
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.advantages__container h3 {
  margin: 0;
  font-family: $ff-roboto;
  font-size: 24px;
  line-height: 140%;
  color: $color-light-blue;
  margin-bottom: 15px;
  font-weight: 400;

  @media (max-width: $vp-1023) {
    margin-bottom: 7px;
  }

  @media (max-width: $vp-767) {
    font-size: 20px;
    margin-bottom: 10px;
  }
}

.advantages__container p {
  color: $background-color-dark;

  @media (max-width: $vp-1023) {
    margin: 0;
    line-height: 22px;
  }

  @media (max-width: $vp-767) {
    font-size: 14px;
    line-height: 135%;
  }
}
