.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: $ff-roboto;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: $color-font-light;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;

  // &:hover,
  // &:focus {
  //   background-color: @hover-btn-background;
  //   outline: none;
  // }

  // &:active {
  //   background-color: @active-btn-background;
  // }

  // &:disabled,
  // &--disabled {
  //   background-color: @light-font-color;
  // }

  // &--disabled {
  //   &:hover,
  //   &:focus,
  //   &:active {
  //     background-color: @light-font-color;
  //   }
  // }

  // @media (min-width: @tablet-width) {
  //   font-size: 20px;
  // }
}
