.main-nav {
  width: 67.6%;

  @media (max-width: $vp-1023) {
    width: auto;
    margin: 0;
  }

  @media (max-width: $vp-767) {
    width: 23%;
  }
}

.main-nav__list {
  @media (max-width: $vp-1023) {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin-right: 18px;
    margin-top: -15px;
  }
}

.main-nav__mail-link {
  margin-left: -20px;

  @media (max-width: $vp-1023) {
    padding: 10px;
    margin: 0;
  }
}

.main-nav span {
  @media (max-width: $vp-1023) {
    display: none;
  }
}

.main-nav__phone {
  margin-left: -45px;

  @media (max-width: $vp-1023) {
    padding: 10px;
    margin: 0;
  }
}

.main-nav__button-link {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  border: 1px solid $color-font-light;
  padding: 10px 15px;
  margin-right: 62px;

  @media (max-width: $vp-1023) {
    display: none;
  }
}
