.main-nav {
  max-width: 500px;

  @media (max-width: $vp-1400) {
    max-width: 400px;
  }

  @media (max-width: $vp-1023) {
    margin: 0;
    align-self: center;
  }
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  @media (max-width: $vp-1023) {
    margin-right: 20px;
    margin-top: 7px;
    justify-content: flex-end;
    gap: 19px;
  }

  @media (max-width: $vp-767) {
    margin: 0;
    margin-right: 9px;
    flex-wrap: wrap;
    max-width: 220px;
    margin-top: 5px;
  }
}

.main-nav__item {
  margin-bottom: 25px;

  @media (max-width: $vp-1023) {
    // margin-bottom: 8px;
  }
}

.main-nav__item a {
  display: flex;
  align-items: flex-start;

  @media (max-width: $vp-1023) {
    display: inline;
  }
}

.main-nav__mail-link {
  margin-right: 122px;

  @media (max-width: $vp-1660) {
    margin-right: 50px;
  }

  @media (max-width: $vp-1220) {
    margin-right: 25px;
  }

  @media (max-width: $vp-1023) {
    padding: 15px 10px 10px;
    margin: 0;
  }
}

.main-nav span {
  display: block;
  margin-left: 13px;

  &:hover {
    color: $color-light-blue;
  }

  @media (max-width: $vp-1023) {
    display: none;
    padding: 0;
  }
}

.main-nav__phone {
  @media (max-width: $vp-1023) {
    padding: 15px 10px 10px;
    margin: 0;
  }
}
