.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-default-black, 0.8);
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 60px 40px;
    padding-top: 0;
    margin-left: -8px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__content {
    position: relative;
    width: 500px;
    padding: 33px 42px 45px 40px;
    background-color: $modal-window-background-blue;
    border-radius: 3px;
  }
}

.modal__wrapper h2 {
  font-family: $ff-roboto;
  font-size: 30px;
  line-height: 42px;
  font-weight: 400;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 8px;
}

.modal__wrapper p {
  margin: 0;
  margin-bottom: 40px;
  color: $color-default-white;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // gap: 18px;
}

.modal__form p {
  margin: 0;
  margin-bottom: 20px;
}

.modal__wrapper textarea {
  margin-bottom: 25px;
}

.modal__wrapper button {
  padding: 14px 60px;
  width: 100%;
}

.modal__wrapper .field__checkbox {
  order: 1;
}

.modal__wrapper span {
  &:first-of-type {
    top: 50%;
    left: 8px;
  }

  &:last-of-type {
    margin-left: -5px;
    color: $color-default-white;
    letter-spacing: 0.01em;
  }
}

.modal__wrapper .modal__close-btn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-image: url("../../img/svg/close-btn.svg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 1;
}

.modal.is-active {
  transform: scale(1);
  visibility: visible;
  opacity: 1;

  pointer-events: auto;
}
