.products {
  color: $color-default-white;
  background-color: $background-color-dark;
  min-height: 960px;
  padding: 65px 50px 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @media (max-width: $vp-1023) {
    justify-content: center;
    padding: 55px 50px 75px;
  }

  @media (max-width: $vp-767) {
    display: block;
    padding: 46px 25px 85px;
  }
}

.products__container {
  // @media (max-width: $vp-1600) {
  //   width: 85%;
  // }

  @media (max-width: $vp-1023) {
    margin: 0;
    padding: 0;
    width: auto;
  }
}

.products__container h2 {
  display: none;

  @media (max-width: $vp-767) {
    display: block;
    font-size: 28px;
    line-height: 39px;
    font-family: $ff-roboto;
    font-weight: 400;
    margin: 0;
    margin-bottom: 30px;
    width: 80%;
  }
}

.products__container p {
  font-family: $ff-roboto;
  font-size: 36px;
  line-height: 51px;
  margin: 0;
  margin-left: 15px;
  margin-bottom: 55px;

  @media (max-width: $vp-1023) {
    margin-left: 0;
    margin-bottom: 39px;
  }

  @media (max-width: $vp-767) {
    display: none;
  }
}

.products__container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 85px;
  flex-wrap: wrap;

  @media (max-width: $vp-1660) {
    gap: 40px;
    // justify-content: space-between;

  }

  @media (max-width: $vp-1220) {
    // justify-content: space-between;
    gap: 15px;
  }

  @media (max-width: $vp-1023) {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
  }
}

.products__item {
  cursor: pointer;
  position: relative;
  width: 28%;
  min-height: 650px;
  background-image: url("../../img/bacground-card-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  padding: 47px 75px 48px 42px;

  @media (min-width: $vp-1024) {
    @media (min-resolution: 2dppx) {
      background-image: url("../../img/bacground-card-1@2x.png");
    }

    &--card2 {
      background-image: url("../../img/bacground-card-2.png");
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/bacground-card-2@2x.png");
      }
    }

    &--card3 {
      background-image: url("../../img/bacground-card-3.png");
      background-repeat: no-repeat;
      background-size: cover;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/bacground-card-3@2x.png");
      }
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 2px;
    width: 60px;
    height: 60px;
    background-color: $color-light-blue;
    border-radius: 3px 0px 0px 0px;
    background-image: url(../../img/svg/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 4px 8px;
    background-color: $color-light-blue;
    z-index: 1;
  }

  &:hover {
    box-shadow: 0px 2px 10px $color-light-blue;
  }

  &:hover p{
    color: $color-light-blue;
  }

  @media (max-width: $vp-1220) {
    width: 280px;
  }

  @media (max-width: $vp-1023) {
    width: 100%;
    min-height: 250px;
    padding: 37px 90px 37px 45px;
    background-image: url("../../img/background-card-1-tablet.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background-card-1-tablet@2x.png");
    }

    &--card2 {
      background-image: url("../../img/background-card-2-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/background-card-2-tablet@2x.png");
      }
    }

    &--card3 {
      background-image: url("../../img/background-card-3-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/background-card-3-tablet@2x.png");
      }
    }

    &::before {
      right: 0;
    }
  }

  @media (max-width: $vp-767) {
    letter-spacing: -0.05em;
    padding: 25px 28px;
    background-image: url("../../img/background-card1-mobile.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/background-card1-mobile@2x.png");
    }

    &--card2 {
      background-image: url("../../img/background-card2-mobile.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/background-card2-mobile@2x.png");
      }
    }

    &--card3 {
      background-image: url("../../img/background-card3-mobile@2x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/background-card3-mobile@2x.png");
      }
    }

    &::before {
      width: 40px;
      height: 40px;
    }
  }

}

.products__item p {
  color: $color-default-white;
  font-family: $ff-roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
  width: 70%;

  @media (max-width: $vp-1750) {
    width: 85%;
  }

  @media (max-width: $vp-1023) {
    width: 28%;
  }

  @media (max-width: $vp-767) {
    display: block;
    width: 64%;
  }
}
