// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$background-default-color:          #f8fdff;
$color-transparent:                 rgba(255, 255, 255, 0);
$background-color-dark:             #041827;
$color-font-light:                  #f2f5f7;
$color-light-blue:                  #00b2ff;
$color-light-grey:                  #ebebeb;
$color-hover:                       #f2f5f6;
$color-default-white:               #ffffff;
$color-background-field:            rgba(4, 20, 39, 0.15);
$color-dark-blue:                   #041427;
$color-default-white-opacity:       rgba(255, 255, 255, 0.7);
$background-color-modal-opacity:    rgba(3, 16, 27, 0.7);
$modal-window-background-blue:      #00b3ff;
$color-decoration-line:             rgba(248, 253, 255, 0.7);
$backgroundcolor-feedback-polygon:  rgba(4, 24, 39, 0.5);
$color-toggle:               #c4c4c4;

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-neon-blue:                   #2c39f2;
$color-torch-red:                   #ff1553;

// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-ptmono:                         "PT Mono", "Arial", sans-serif;
$ff-roboto:                         "Roboto Condensed", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------

$vp-320:   320px;
$vp-767:   767px;
$vp-768:   768px;
$vp-1023:  1023px;
$vp-1024:  1024px;
$vp-1220:  1220px;
$vp-1400:  1400px;
$vp-1600:  1600px;
$vp-1660:  1660px;
$vp-1750:  1750px;
$vp-1920:  1920px;
